<!DOCTYPE html>
<html lang="en">
<% include elements/head%>
<body class="animsition">
	
	<!-- Header -->
	<% include elements/header%>

		
	<%- body%>


	<!-- Footer -->
	<% include elements/footer%>
	
	<!-- Back to top -->
	<% include elements/back-to-top%>


<% include elements/script%>


</body>
</html>