<!DOCTYPE html>
<html>

<head>
    <% include elements/head-login%>
</head>

<body class="login-page">
    <div class="login-box">
        
        <!-- /.login-logo -->
        <%- body%>
        <!-- /.login-card-body -->
    </div>

    <!-- script -->
    <% include elements/script-login%>
  </body>

</html>