<div class="f2-s-1 p-r-30 m-tb-6">
    <a href="index.html" class="breadcrumb-item f1-s-3 cl9">
        Home 
    </a>
    <a href="#" class="breadcrumb-item f1-s-3 cl9">
        Category
    </a>

    <span class="breadcrumb-item f1-s-3 cl9">
        Entertaiment
    </span>
</div>