<h3><strong>Giá coin</strong></h3>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Percent Change 24h</th>
        <th scope="col">Percent Change 1h</th>
      </tr>
    </thead>
    <tbody id="coinPriceTable">
      
    </tbody>
  </table>