<h3><strong>Giá vàng</strong></h3>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Type</th>
        <th scope="col">Buy</th>
        <th scope="col">Sell</th>
      </tr>
    </thead>
    <tbody id="goldPriceTable">
      
    </tbody>
  </table>