
<section class="bg0 error-image">
    <div class="container">
        <div class="row m-rl--1">
            <div class="image-container error2-image d-flex justify-content-center">
                <img src="/frontend/others/error-frontend.png" alt="error-frontend">
                <!-- Đường dẫn đến hình ảnh và mô tả hình ảnh -->
            </div>
        </div>
    </div>
</section>