<%
let arrBox = [{name: 'themes', icon: 'icon-results__cell active mouseOff', link: `${systemConfigs.prefixAdmin}/themes`, total: countItems},
]
let xHtmlBox = ''
arrBox.forEach((item)=>{
    xHtmlBox += `<div class="small-box bg-info">
        <div class="inner">
            <h3>${item.total}</h3>
            <p>${item.name}</p>
        </div>
        <div class="icon text-white">
            <i class= ${item.icon} ></i>
        </div>
        <a href="/${item.link}" class="small-box-footer">Show Info<i class="fas fa-arrow-circle-right"></i></a>
    </div>`
})
%>
<%- xHtmlBox%>

