<% 
categoryFooterHelper = (linkPrefix, category) => {
    let xhtmlResult = ''
    category.forEach((item, index) => {

        xhtmlResult += `<li class="how-bor1 p-rl-5 p-tb-10">
            <a href="${linkPrefix}category/${item.category.id}" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
                ${item.category.name}(${item.count})
            </a>
        </li>`
    })

      
    return xhtmlResult
}
%>