
<!-- <a href="i" class="my-btn-state rounded-circle btn btn-sm btn-danger"></a> -->
<% 
    statusHelper = (collection, status, id) => {
    let link = systemConfigs.prefixAdmin + '/'+ collection + '/'+  'change-status' + '/'+ id + '/' +status
    let xHtmlStatus = ''
        if(status=== 'active') {
        xHtmlStatus = "<span>active</span>"
        return `<a href="/${link}" class="btn btn-block btn-success">
        ${xHtmlStatus}</a>`
        } else if (status=== 'inactive') {
        xHtmlStatus = "<span>inactive</span>"
        return `<a href="/${link}" class="btn btn-block btn-danger">
            ${xHtmlStatus}</a>`
        }
    
    }
%>
<!-- <i class="fas fa-check"></i> -->
    
<!-- <button type="button" class="btn btn-block btn-danger">Danger</button> -->
<!-- <button type="button" class="btn btn-block btn-success">Success</button> -->